<blocks>
    <style>
    .button {
        border: none;
        color: rgb(255, 255, 255);
        padding: 10px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 10px;
        cursor: pointer;
        }

    .button1 {background-color: #ba000000; opacity: 0.5; }
    .button1:hover {opacity: 0.8;}
    .button2 {background-color: #ba000000; opacity: 0.5; }
    .button2:hover {opacity: 0.8;}

    </style>
    <blocks>
        </br></br></br>
        <button class="button button1" onclick="document.location='https://x.com/_blok17'"><img src="https://raw.githubusercontent.com/blok17/blok.rocks/refs/heads/master/img/Social_Icons/X_logo.png" style="width:200px;height:auto;"></button>
        <button class="button button1" onclick="document.location='https://github.com/blok17'"><img src="https://raw.githubusercontent.com/blok17/blok.rocks/refs/heads/master/img/Social_Icons/github_logo.png" style="width:130px;height:auto;"></button>
</blocks>
