/**
 * Dark theme variables
 */

:root {
  --base-color: #DBDBDB;
  --border: dashed 1px rgba(219, 219, 219, 0.9);
  --selection-background: rgba(219, 219, 219, 0.99);
  --selection-text: #151515;
  --background-color: #151515;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #DBDBDB;
  --code-color-2: red;
  --code-color-3: red;
  --code-color-4: #DBDBDB;
  --code-color-5: red;
  --code-color-6: red; //ok
  --code-color-7: red; //ok
  --code-color-8: red; //ok
  --code-color-9: red; //ok
  --code-color-10: #DBDBDB;
  --code-color-11: #DBDBDB;
  --code-color-12: red;
  --code-color-13: red;
  --code-color-14: red;
  --code-color-15: red;
  --code-color-16: red;
  --code-color-17: red;
  --code-color-18: #DBDBDB;
}
